sudo: required
services:
  - docker

before_install:
  - docker build -t rathijitpapon/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true rathijitpapon/react-test npm test -- --coverage

after_success:
  - docker build -t rathijitpapon/multi-client ./client
  - docker build -t rathijitpapon/multi-nginx ./nginx
  - docker build -t rathijitpapon/multi-server ./server
  - docker build -t rathijitpapon/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  # Take those images and push them to docker hub
  - docker tag multi-client rathijitpapon/multi-client
  - docker tag multi-nginx rathijitpapon/multi-client
  - docker tag multi-server rathijitpapon/multi-client
  - docker tag multi-worker rathijitpapon/multi-client

  - docker push rathijitpapon/multi-client
  - docker push rathijitpapon/multi-nginx
  - docker push rathijitpapon/multi-server
  - docker push rathijitpapon/multi-worker

# deploy:
#   provider: elasticbeanstalk
#   region: us-west-1
#   app: multi-docker
#   env: MultiDocker-env
#   bucket_name: elasticbeanstalk-us-west-1-306476627547
#   bucket_path: docker-multi
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key:
#     secure: $AWS_SECRET_KEY